RESEND_API_KEY=re_replace_with_your_key
SUPPORT_FROM_EMAIL=Broadway Pixels Support <support@mail.broadwaypixels.com>
SUPPORT_TO_EMAIL=Media@BroadwayPixels.com
ALLOWED_ORIGINS=https://broadwaypixels.com,https://www.broadwaypixels.com
PORT=8080
